<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
